<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
   providerName="System.Data.SqlClient" />
  <add name="automationexamDBConnectionString" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=automationexamDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="automationexamDBConnectionString2" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=automationexamDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="automationexamDBConnectionString3" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=automationexamDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="automationexamDBConnectionString4" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=automationexamDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="automationexamDBConnectionString5" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=automationexamDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="automationexamDBConnectionString6" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=automationexamDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="automationexamdbConnectionString7" connectionString="Data Source=APEX-PC\SQLEXPRESS;Initial Catalog=automationexamdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="automationexamdbConnectionString8" connectionString="Data Source=APEX-PC\SQLEXPRESS;Initial Catalog=automationexamdb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
